html {
  font: 50px Courier;
  color: white;
  page-width: 990px;
}
.box {
  padding: 20px;
  width: 5%;
  display: inline;
  margin:0px;
  float: left;
}
.odd {
  background-color: #ee3e64;
}
.even {
  background-color: #44accf;
}
