html {
  font: 50px Courier;
  color: white;

}
.box {
  padding: 20px;
  width: 50px;

  margin:0px;

}
.odd {
  background-color: #ee3e64;
}
.even {
  background-color: #44accf;
}
.row:before, .row:after { content: "";
                          display: table;
}

#box_0 {
	margin-left: 50%;

}
#box_1 {
	margin-left: 45%;
    float: left;
    display:inline;
}
#box_2 {
        float: left;
        display:inline;

}#box_3 {
	margin-left: 40%;
	float: left;
    display: block;
}#box_4 {
	float: left;
	display: inline;
}#box_5 {

	float: left;
	display: inline;
}#box_6 {
	margin-left: 35%;
	float: left;
    display:block;
}#box_7 {
	float: left;
	display: inline;
}#box_8 {
	float: left;
	display: inline;


}#box_9 {
    display: inline;
	float: left;

}