body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}
.hline { width:100%; 
	height: 2px; 
	background: #949494; }
nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}
img {
    max-width: 300px;
    height: auto;
}
.stars {
	display:block;
	margin-left: 35%;
	align-content: center;
	height: 20px;
	width: 80px; 
}
#starBottom {
	position: fixed;
	bottom:0;
	left: 35;
	height: 20px;
	width: 80px; 
}
.productName {
	font-weight: bold;
	
}
#price {
	color: #ff0000;
	font-weight:bold
}
#bestSeller {
	color: #ff0000;
}
#listViewPictures {
	float: left;
	width:150;
	margin 20px;
}
.container{
	
	column-count: 3;
}
section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}
.productlist {
	
	background:#f5edb5;
	width:300px;
	margin-left: 20px;
}
.column {
	display:block;
	margin: 0px 20px;

	width:300px;
	min-height: 330px;
	align-content: center;
}


.stars.t {
	left: 50px;
}
li {
	list-style-type: none;
}
p {
	display:inline;
	text-align:right;
}
.lowStockStyle {
	color: blue;
	font-weight: bold;
}
#listViewPictures {
}
.productlist {
	display:inline;
	background:white;
	margin-left: 50px;
}
table {
    margin-left: 50px;
}
#listborder {
 	border-bottom: 1px solid #ddd;
}
td > img {
	width: 100px;
	height: auto;
}
td {
    height: 20px;
    vertical-align: bottom;
}

th {
    height: 50px;
}
table.view > tr:nth-child(odd) {background-color: #f2f2f2}
td.headers {
	background-color: #ffffff;
}